<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h3">My Favourites</h1>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>


                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">

                            <div *ngIf="favorites" id="favouriteForm">
                                <table class="uk-table uk-table-small uk-table-striped uk-table-middle">
                                    <thead>
                                    <tr>
                                        <th class="">Logo</th>
                                        <th class="uk-text-center">Name</th>
                                        <th>Info</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let favourite of favorites">
                                        <td>
                                        </td>
                                        <td >
                                        </td>
                                        <td class="uk-text-center">
                                            <a [routerLink]="['/serviceProviderInfo', 'the id']">
                                                <i aria-hidden="true" class="fa fa-info uk-margin-small-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <!-- BOTTOM HELP CONTENT -->
                    <help-content #bottomHelperContent [position]="'bottom'"
                                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                    </help-content>

                </div>
            </div>
        </div>
    </div>
</div>