<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h3">My Service Providers</h1>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>


                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">

                            <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{errorMessage}}</div>

                            <div class="middle-box animated fadeInDown ">
                                <div>Coming soon ...</div>
                                <div id="serviceForm">
                                    <table class="uk-table uk-table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Current Status</th>
                                            <th>service template</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="myProviders">
                                        <tr *ngFor="let provider of myProviders">
                                            <td>{{ provider.name }}</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td class="uk-text-right">
                                                <a *ngIf="provider.service && provider.service.length === 0"
                                                   class="uk-button uk-button-blue"
                                                   routerLink="{{ '/newServiceProvider/' + provider.id + '/addFirstService' }}">
                                                    Add first Service
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- RIGHT HELP CONTENT -->
                            <aside-help-content #rightHelperContent [position]="'right'"
                                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                            </aside-help-content>

                        </div>
                    </div>


                    <!-- BOTTOM HELP CONTENT -->
                    <help-content #bottomHelperContent [position]="'bottom'"
                                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                    </help-content>


                </div>
            </div>
        </div>
    </div>
</div>
