<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack">
            <div *ngIf="provider" class="uk-width-1-1@m uk-first-column">
                <div class="uk-display-inline">
                    <h1 class="uk-h3">
                        <img class="el-image uk-border-rounded"
                             src="{{ (provider.logo) ? provider.logo : 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                             alt="LOGO" width="70">
                        <span class="uk-margin-small-left">{{provider.name}}
                            <a *ngIf="isUserAdmin" routerLink="/updateServiceProvider/{{provider.id}}">
                            <i class="fa fa-lg fa-edit"></i></a></span>
                    </h1>
                </div>
                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-padding-small uk-border-rounded uk-width-2-3@m" style="border: 1px solid gray;">
                        <!--<div class="uk-width-expand@m">-->
                            <div class="middle-box animated fadeInDown ">
                                <div class="uk-grid uk-grid-margin-small uk-child-width-1-2@m gridView">
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                        <label class="uk-form-label">Service Provider ID: </label>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                        <span>{{provider.id}}</span>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                        <label class="uk-form-label">Website: </label>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                        <span>{{provider.website}}</span>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                        <label class="uk-form-label">Additional Information: </label>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                        <span>{{provider.additionalInfo}}</span>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                        <label class="uk-form-label">Status: </label>
                                    </div>
                                    <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                        <span>{{provider.status}}</span>
                                    </div>
                                    <div *ngIf="provider.contactInformation; else NoContactInfo">
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Contact Information: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>{{provider.contactInformation}}</span>
                                        </div>
                                    </div>
                                    <ng-template #NoContactInfo>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Contact Information: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>-</span>
                                        </div>
                                    </ng-template>
                                    <div *ngIf="provider.catalogueOfResources; else NoCatalogue">
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Catalogue of Resources: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>{{provider.catalogueOfResources}}</span>
                                        </div>
                                    </div>
                                    <ng-template #NoCatalogue>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Catalogue of Resources: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>-</span>
                                        </div>
                                    </ng-template>
                                    <div *ngIf="provider.publicDescOfResources; else NoPublicDescription">
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Public Description of Resources: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>{{provider.publicDescOfResources}}</span>
                                        </div>
                                    </div>
                                    <ng-template #NoPublicDescription>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-right">
                                            <label class="uk-form-label">Public Description of Resources: </label>
                                        </div>
                                        <div class="serviceDetails uk-margin-small-bottom uk-text-center">
                                            <span>-</span>
                                        </div>
                                    </ng-template>
                                    <div class="uk-align-center">
                                        <table *ngIf="provider.users && (provider.users.length>0)"
                                               class="uk-table uk-table-small uk-table-middle ">
                                            <thead>
                                            <th class="uk-text-center">Name</th>
                                            <th class="uk-text-center">Surname</th>
                                            <th class="uk-text-center">Email</th>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let user of provider.users">
                                                <td class="uk-text-center">{{user.name}}</td>
                                                <td class="uk-text-center">{{user.surname}}</td>
                                                <td class="uk-text-center">{{user.email}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>