<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
    <div class="uk-container uk-container-expand">
        <div class="uk-grid" uk-grid="">

            <ng-template [ngIf]="errorMessage">
                <div class="uk-width-expand@m uk-first-column">
                    <div data-uk-alert="" class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </ng-template>

            <ng-template [ngIf]="service && !errorMessage">

                <div class="uk-width-1-1 uk-row-first uk-clearfix">

                    <div class="uk-grid">
                        <div class="uk-width-3-4@m">
                            <div class="uk-display-inline-block uk-vertical-align-top">
                                <h2 class="uk-h2 uk-inline" style="margin-bottom: 5px">
                                    {{service.name || "Not Available"}}
                                    <!--<a target="_blank" [href]="service.url" (click)="visit()">-->
                                      <!--{{service.name || "Not Available"}}-->
                                    <!--</a>-->
                                    <span class="uk-margin-left" *ngIf="this.userService.canEditService(service)">
                                        <a (click)="this.router.edit(service.id)" routerLinkActive="active"><i class="fa fa-pencil"></i></a>
                                    </span>
                                </h2>
                                <div *ngIf="service.tagline && (service.tagline.length>0)" class="tagLine">
                                    {{service.tagline}}
                                </div>
                                <div>
                                    <star-rating-comp (click)="this.userService.rateService(service.id)" [starType]="'svg'" [rating]="this.getShownRating()" [step]="1"
                                                      [showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn() [size]="'medium'"
                                                      [staticColor]="'ok'" class="uk-inline starRating"></star-rating-comp>
                                    <span class="uk-margin-medium-left">
                                        <img src="../../../../assets/images/icons/ic_love_icon.svg">
                                        <span class="statsNumbers">{{stats.visits || 0}}</span>
                                    </span>
                                    <span class="uk-margin-medium-left">
                                        <img src="../../../../assets/images/icons/ic_visit_icon.svg">
                                        <span class="statsNumbers">{{stats.favourite || 0}}</span>
                                    </span>
                                </div>
                                <!--<div style="display: flex">by&nbsp;-->
                                    <!--<span class="comma-element" *ngFor="let provider of service.providers">-->
                                        <!--<a (click)="this.router.search({provider: provider})">{{[provider]|lookup:providers}}</a>-->
                                    <!--</span>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="uk-width-1-4@m">

                            <div class="uk-card uk-card-body uk-card-custom providerCard">
                                <img src="{{service.symbol || 'http://fvtelibrary.com/img/user/NoLogo.png'}}"
                                     style="max-width: 67px;">
                                <span class="provider">{{service.providers[0] | uppercase}}</span>
                            </div>

                            <!--<div class="uk-margin-top">-->
                                <!--<star-rating-comp (click)="this.userService.rateService(service.id)" [starType]="'svg'" [rating]="this.getShownRating()" [step]="1"-->
                                                  <!--[showHalfStars]="true" [readOnly]=!this.authenticationService.isLoggedIn() [size]="'medium'"-->
                                                  <!--[staticColor]="'ok'"></star-rating-comp>-->
                            <!--</div>-->
                        </div>

                    </div>

                </div>

                <div class="uk-width-expand@m uk-first-column uk-grid-margin-medium">

                    <div class="serviceDescription" *ngIf="service.description">
                        <p [innerHTML]="service.description">
                        </p>
                    </div>

                    <div class="tags" *ngIf="service.tags && service.tags.length>0">
                        <span *ngFor="let tag of service.tags" class="uk-label">{{tag}}</span>
                    </div>

                    <div>
                        <button class="uk-button uk-button-primary visitButton" (click)="visit()" routerLinkActive="active">
                            <strong>Homepage Service</strong>
                        </button>
                    </div>


                    <!--<div class="tags" *ngIf="service.lifeCycleStatus || service.trl || service.category || service.subcategory">-->
                        <!--<span title="Category" uk-tooltip="delay: 500" class="uk-label">{{service.category ? this.vocabularies[service.category].name : "Service category not available"}}</span>-->
                        <!--<span title="Subcategory" uk-tooltip="delay: 500" class="uk-label">{{service.subcategory? this.vocabularies[service.subcategory].name : "Service subcategory not available"}}</span>-->
                        <!--<span title="Technology Readiness Level" uk-tooltip="delay: 500" class="uk-label">TRL {{this.vocabularies[service.trl].name || "not available"}}</span>-->
                        <!--<span title="Lifecycle Status" uk-tooltip="delay: 500" class="uk-label">{{this.vocabularies[service.lifeCycleStatus].name || "Lifecycle Status not available"}}</span>-->
                    <!--</div>-->

                    <div class="uk-grid-collapse uk-grid uk-width-1-1 uk-margin-large-top">

                        <div class="uk-width-1-2@m uk-margin-right">
                            <!--USAGE-->
                            <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                                <h2 class="uk-h2">Usage</h2>
                                <dl class="uk-description-list">
                                    <div *ngIf="service.trl" class="uk-margin-small-bottom">
                                        <dt class="uk-margin-small-right uk-inline">Technology readiness level</dt>
                                        <dd class="uk-inline">{{this.vocabularies[service.trl].name.charAt(0)}}</dd>
                                    </div>
                                    <div *ngIf="service.lifeCycleStatus" class="uk-margin-small-bottom">
                                        <dt class="uk-margin-small-right uk-inline">Phase</dt>
                                        <dd class="uk-inline">{{this.vocabularies[service.lifeCycleStatus].name}}</dd>
                                    </div>
                                </dl>
                                <hr class="customDivider">
                                <dl class="uk-description-list">
                                    <ng-container *ngIf="service.targetUsers">
                                        <dt class="uk-margin-small-bottom">Target Users</dt>
                                        <dd>{{service.targetUsers}}</dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.userValues">
                                        <dt class="uk-margin-small-bottom">Values</dt>
                                        <dd>{{service.userValues}}</dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.userBase">
                                        <dt class="uk-margin-small-bottom">User base</dt>
                                        <dd>{{service.userBase}}</dd>
                                    </ng-container>
                                </dl>
                            </div>
                            <!--REQUIRED / RELATED SERVICES-->
                            <div class="uk-card uk-card-body uk-card-basic-info">
                                <h2 class="uk-h2">Required / Related services</h2>
                                <ng-container *ngIf="service.requiredServices && service.requiredServices.length > 0">
                                    <dt class="uk-margin-small-bottom">Required services</dt>
                                    <dd>
                                        <ul>
                                            <li *ngFor="let requiredService of service.requiredServices">
                                                <a (click)="this.router.service(getPrettyService(requiredService).id)">{{getPrettyService(requiredService).name}}</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </ng-container>
                                <ng-container *ngIf="service.relatedServices && service.relatedServices.length>0">
                                    <dt class="uk-margin-small-bottom">Related services</dt>
                                    <dd>
                                        <ul>
                                            <li *ngFor="let relatedService of service.relatedServices">
                                                <a (click)="this.router.service(getPrettyService(relatedService).id)">{{getPrettyService(relatedService).name}}</a>
                                            </li>
                                        </ul>
                                    </dd>
                                </ng-container>
                            </div>
                        </div>

                        <div class="uk-width-expand@m">
                            <!--SERVICE COVERAGE-->
                            <div class="uk-card uk-card-body uk-card-basic-info uk-margin-bottom">
                                <h2 class="uk-h2">Service coverage</h2>
                                <div style="width:100%" *ngIf="serviceMapOptions">
                                    <chart type="Map" [options]="serviceMapOptions"></chart>
                                </div>
                                <dl class="uk-description-list">
                                    <ng-container *ngIf="service.places && service.places.length>0">
                                        <dt class="uk-margin-small-bottom">Places</dt>
                                        <dd>
                                            <!--<span *ngFor="let place of service.places">{{place}}, </span>-->
                                            <span>{{this.getPrettyList(service.places)}}</span>
                                        </dd>
                                    </ng-container>
                                    <ng-container *ngIf="service.languages && service.languages.length>0">
                                        <dt class="uk-margin-small-bottom">Languages</dt>
                                        <dd>
                                            <span>{{this.getPrettyList(service.languages)}}</span>
                                        </dd>
                                    </ng-container>
                                </dl>
                            </div>
                            <!--FUNDING-->
                            <div *ngIf="service.funding" class="uk-card uk-card-body uk-card-basic-info">
                                <h2 class="uk-h2">Funding</h2>
                                <dl class="uk-description-list">
                                    <dt class="uk-margin-small-bottom">Funding sources</dt>
                                    <dd>{{service.funding}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>







                    <!--&lt;!&ndash;TABS&ndash;&gt;-->
                    <!--<ul class=" uk-tab uk-visible@m uk-margin-medium-top" uk-tab="connect: #infoTabs; animation: uk-animation-fade">-->
                        <!--&lt;!&ndash;<li *ngIf="service.targetUsers || service.userValue || service.userBase">&ndash;&gt;-->
                        <!--<li>-->
                            <!--<a>Usage</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash;<li *ngIf="service.requiredServices">&ndash;&gt;-->
                            <!--<a>Required Services</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.relatedServices">&ndash;&gt;-->
                            <!--<a>Related Services</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.places || service.region || service.language">&ndash;&gt;-->
                            <!--<a>Service Coverage</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a>Contractual Info</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->

                    <!--<button class="uk-button uk-button-default uk-hidden@m" type="button">-->
                        <!--<span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">{{activeTab}}</span>-->
                    <!--</button>-->

                    <!--<ul id="toggle-small-tabs" class="uk-subnav uk-subnav-pill uk-dropdown uk-hidden@m" uk-switcher="{connect: #infoTabs; animation: uk-animation-fade}" uk-dropdown="mode: click" uk-toggle="target: #toggle-small-tabs">-->
                        <!--&lt;!&ndash;<li *ngIf="service.targetUsers || service.userValue || service.userBase">&ndash;&gt;-->
                        <!--<li>-->
                            <!--<a>Usage</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash;<li *ngIf="service.requiredService">&ndash;&gt;-->
                            <!--<a>Required Services</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.relatedService">&ndash;&gt;-->
                            <!--<a>Related Services</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.places || service.region || service.language">&ndash;&gt;-->
                            <!--<a>Service Coverage</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a>Contractual Info</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->

                    <!--<ul id="infoTabs" class="uk-switcher  uk-width-1-1 uk-margin-top custom-tab-content-large">-->
                        <!--&lt;!&ndash;<li *ngIf="service.targetUsers || service.userValue || service.userBase">&ndash;&gt;-->
                        <!--<li>-->
                            <!--<div class="uk-margin-medium-top">-->
                                <!--<dl class="uk-description-list">-->

                                    <!--<ng-template [ngIf]="service.targetUsers">-->
                                        <!--<dt>Target users</dt>-->
                                        <!--<dd>{{service.targetUsers}}</dd>-->
                                    <!--</ng-template>-->
                                    <!--<ng-template [ngIf]="!service.targetUsers">-->
                                        <!--<dt>Target users</dt>-->
                                        <!--<dd>Not available</dd>-->
                                    <!--</ng-template>-->

                                    <!--<ng-template [ngIf]="service.userValue">-->
                                        <!--<dt>User value</dt>-->
                                        <!--<dd>{{service.userValue}}</dd>-->
                                    <!--</ng-template>-->
                                    <!--<ng-template [ngIf]="!service.userValue">-->
                                        <!--<dt>User value</dt>-->
                                        <!--<dd>Not available</dd>-->
                                    <!--</ng-template>-->

                                    <!--<ng-template [ngIf]="service.userBase">-->
                                        <!--<dt>User base</dt>-->
                                        <!--<dd>{{service.userBase}}</dd>-->
                                    <!--</ng-template>-->
                                    <!--<ng-template [ngIf]="!service.userBase">-->
                                        <!--<dt>User base</dt>-->
                                        <!--<dd>Not available</dd>-->
                                    <!--</ng-template>-->

                                <!--</dl>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash;<li *ngIf="service.requiredServices">&ndash;&gt;-->
                            <!--<div class="uk-margin-medium-top">-->
                                <!--<ul *ngIf="service.requiredServices && service.requiredServices.length > 0">-->
                                    <!--<li *ngFor="let requiredService of service.requiredServices">-->
                                        <!--<a (click)="this.router.service(getPrettyService(requiredService).id)">{{getPrettyService(requiredService).name}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--<div *ngIf="!service.requiredServices || service.requiredServices.length==0" class="uk-alert uk-alert-warning">-->
                                    <!--There are no available required services-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.relatedService">&ndash;&gt;-->
                            <!--<div class="uk-margin-medium-top">-->
                                <!--<ul *ngIf="service.relatedServices && service.relatedServices.length>0">-->
                                    <!--<li *ngFor="let relatedService of service.relatedServices">-->
                                        <!--<a (click)="this.router.service(getPrettyService(relatedService).id)">{{getPrettyService(relatedService).name}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--<div *ngIf="!service.relatedServices || service.relatedServices.length==0" class="uk-alert uk-alert-warning">-->
                                    <!--There are no available related services-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.places || service.region || service.language">&ndash;&gt;-->
                            <!--<div class="uk-grid uk-margin-medium-top">-->
                                <!--<div class="uk-width-1-2@m">-->
                                    <!--<div style="width:100%" *ngIf="serviceMapOptions">-->
                                        <!--<chart type="Map" [options]="serviceMapOptions"></chart>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div id="coverageMap">{{this.runHighCharts()}}</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="uk-width-1-2@m">-->
                                    <!--<dl class="uk-description-list">-->

                                        <!--<ng-template [ngIf]="service.places && service.places.length>0">-->
                                            <!--<dt>Places</dt>-->
                                            <!--<dd>-->
                                                <!--&lt;!&ndash;<span *ngFor="let place of service.places">{{place}}, </span>&ndash;&gt;-->
                                                <!--<span>{{this.getPrettyList(service.places)}}</span>-->
                                            <!--</dd>-->
                                        <!--</ng-template>-->
                                        <!--<ng-template [ngIf]="!service.places || service.places.length==0">-->
                                            <!--<dt>Places</dt>-->
                                            <!--<dd>-->
                                                <!--<span>Not available</span>-->
                                            <!--</dd>-->
                                        <!--</ng-template>-->

                                        <!--&lt;!&ndash;<ng-template [ngIf]="service.region && service.region.length>0">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<dt>Regions</dt>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<dd>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<span *ngFor="let region of service.region">{{region}}, </span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</dd>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<ng-template [ngIf]="!service.region || service.region.length==0">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<dt>Regions</dt>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<dd>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<span>Not available</span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</dd>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

                                        <!--<ng-template [ngIf]="service.languages && service.languages.length>0">-->
                                            <!--<dt>Languages</dt>-->
                                            <!--<dd>-->
                                                <!--<span>{{this.getPrettyList(service.languages)}}</span>-->
                                            <!--</dd>-->
                                        <!--</ng-template>-->
                                        <!--<ng-template [ngIf]="!service.languages || service.languages.length==0">-->
                                            <!--<dt>Languages</dt>-->
                                            <!--<dd>-->
                                                <!--<span>Not available</span>-->
                                            <!--</dd>-->
                                        <!--</ng-template>-->

                                    <!--</dl>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li *ngIf="service.options || service.price || service.serviceLevelAgreement || service.termsOfUse">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="uk-margin-medium-top">&ndash;&gt;-->
                                <!--&lt;!&ndash;<dl class="uk-description-list">&ndash;&gt;-->

                                    <!--&lt;!&ndash;<ng-template [ngIf]="service.options">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Options</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>{{service.options}}</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<ng-template [ngIf]="!service.options">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Options</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>Not available</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

                                    <!--&lt;!&ndash;<ng-template [ngIf]="service.price">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Pricing model</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>{{service.price}}</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<ng-template [ngIf]="!service.price">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Pricing model</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>Not available</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

                                    <!--&lt;!&ndash;<ng-template [ngIf]="service.serviceLevelAgreement">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Service Level Agreement</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>{{service.serviceLevelAgreement}}</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<ng-template [ngIf]="!service.serviceLevelAgreement">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Service Level Agreement</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>Not available</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

                                    <!--&lt;!&ndash;<ng-template [ngIf]="service.termsOfUse && service.termsOfUse.length > 0">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Terms of Use</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>{{service.termsOfUse}}</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<ng-template [ngIf]="!service.termsOfUse">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dt>Terms of Use</dt>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<dd>Not available</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->

                                <!--&lt;!&ndash;</dl>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->

                </div>

                <!--SIDEBAR-->
                <div class="tm-sidebar uk-width-1-4@m">

                    <h4 class="uk-h4 sidebarHeaders uk-margin-large-top">Contractual Info</h4>
                    <div class="uk-card uk-card-body uk-card-custom sideInfo">
                        <div *ngIf="service.request" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.request}}">Service request</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.options" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.options}}">Options</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.price" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.price}}">Pricing model</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.serviceLevelAgreement" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.serviceLevelAgreement}}">Service level agreement</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.termsOfUse && service.termsOfUse.length > 0" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.termsOfUse[0]}}">Terms of use</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                    </div>

                    <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Support</h4>
                    <div class="uk-card uk-card-body uk-card-custom sideInfo">
                        <div *ngIf="service.helpdesk" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.helpdesk}}">Helpdesk</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.userManual" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.userManual}}">User manual</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.feedback" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.feedback}}">Feedback</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                    </div>

                    <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Performance Information</h4>
                    <div class="uk-card uk-card-body uk-card-custom sideInfo">
                        <div *ngIf="service.trainingInformation" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.trainingInformation}}">Training information</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <div *ngIf="service.multimediaURL" class="uk-margin-small-bottom">
                            <a class="uk-margin-small-right" target="_blank" href="{{service.multimediaURL}}">Multimedia</a>
                            <img src="../../../../assets/images/icons/ic_link_arrow_right.svg">
                        </div>
                        <!--TODO uncomment when we have KPIs-->
                        <!--<hr class="customDivider">-->
                        <!--<div *ngIf="service.reliability" class="uk-margin-small-bottom">-->
                            <!--<span class="infoTitle uk-margin-small-right">Reliability</span>-->
                            <!--<span class="infoDescription">{{service.reliability}}</span>-->
                        <!--</div>-->
                        <!--<div *ngIf="service.reliability" class="uk-margin-small-bottom">-->
                            <!--<span class="infoTitle uk-margin-small-right">Durability</span>-->
                            <!--<span class="infoDescription">{{service.reliability}}</span>-->
                        <!--</div>-->
                        <!--<div *ngIf="service.reliability" class="uk-margin-small-bottom">-->
                            <!--<span class="infoTitle uk-margin-small-right">Performance</span>-->
                            <!--<span class="infoDescription">{{service.reliability}}</span>-->
                        <!--</div>-->
                    </div>

                    <h4 class="uk-h4 sidebarHeaders uk-margin-medium-top">Version</h4>
                    <hr class="customDivider">
                    <div>
                        <div *ngIf="service.version" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Version</span>
                            <span class="infoDescription">{{service.version}}</span>
                        </div>
                        <div *ngIf="service.lastUpdate" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Last update</span>
                            <span class="infoDescription">{{service.lastUpdate}}</span>
                        </div>
                        <div *ngIf="service.changeLog" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">What's new</span>
                            <span class="infoDescription">{{service.changeLog}}</span>
                        </div>
                        <div *ngIf="service.validFor" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Validity</span>
                            <span class="infoDescription">Until {{service.validFor}}</span>
                        </div>
                        <div *ngIf="service.availability" class="uk-margin-small-bottom">
                            <span class="infoTitle uk-margin-small-right">Availability</span>
                            <span class="infoDescription">{{service.availability}}</span>
                        </div>
                        <!--TODO uncomment when we have KPIs-->
                        <!--<div *ngIf="service.availability" class="uk-margin-small-bottom">-->
                            <!--<span class="infoTitle uk-margin-small-right">Measurement</span>-->
                            <!--<span class="infoDescription">{{service.availability}}</span>-->
                        <!--</div>-->
                    </div>

                </div>

            </ng-template>

        </div>
    </div>
</div>
